.codex-editor {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
}

.cdx-block {
    display: flex;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
}
.ce-block__content {
    position: relative;
    margin: 0;
    max-width: 210mm;
    max-height: 297mm;
    -webkit-transition: background-color .15s ease;
    transition: background-color .15s ease;
}