.page-container {
    background: rgba(255, 255, 255, 0.3);
    padding: 0;
    font-size: 12pt;
    box-shadow: 4px 4px 4px 2px rgba(95, 95, 130, 0.454);
    border-radius: 4px;
    position: relative;
    margin: 0;
    width: 100%;
    height: auto;
    vertical-align: middle;
    text-align: center;
    padding: 1%;
}

.page {
    background: white;
    padding: 0;
    font-size: 12pt;
    box-shadow: 4px 4px 4px 2px rgba(95, 95, 130, 0.454);
    border-radius: 4px;
    min-width: 210mm;
    min-height: 297mm;
    position: absolute;
    display: inline-block;
    margin: 0px 25% 0px 25% 0px;
    text-align: left;
}

.page-content {
    width: calc(100% - 10mm);
    height: calc(100% - 10mm);
    margin: 5mm;
    position: relative;
    display: inline-block;
    border: solid 1.5px #999999;
    text-align: left;
}

.page[page-size="A4"][layout="portrait"] {
    position: relative;
    margin: 0;
    width: 210mm;
    height: 297mm;
}

.page[page-size="A4"][layout="landscape"] {
    width: 297mm;
    height: 210mm;
}

.page[page-size="A5"] {
    width: 148mm;
    height: 210mm;
}

.page[page-size="A5"][layout="landscape"] {
    width: 210mm;
    height: 148mm;
}

.moveIcon {
    cursor: move;
}

.content-box {
    flex: 1;
    height: 100%;
    width: 100%;
}

.react-draggable {
    border: dashed 1px darkgrey;
    background-color: #eeeeee55;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.centered-img {
    max-width: calc(100%);
    max-height: calc(100%);
    width: auto;
    height: auto;
}

.ce-block {
    border: solid 0.5px #999999;
    border-radius: 3px;
}

.tc-table {
    border: solid 1.5px #000000;
}

.tc-row {
    border: solid 0.25px #000000;
}

.cdx-simple-image__caption {
    display: none;
}

@media print {
    .ce-block {
        border: none;
        border-radius: 0;
    }
    .cdx-simple-image__caption {
        display: none;
    }

    .react-draggable {
        border: none !important;
        background-color: transparent !important;
    }

    .doNotPrint {
        display: none !important;
        visibility: hidden !important;
    }

    .ce-toolbar {
        display: none;
    }

    @page {
        size: A4;
    }

    .page-content {
        border: none;
    }

    .page[page-size="A4"] {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 296mm;
    }

    .page[page-size="A5"][layout="landscape"] {
        width: 100%;
        height: 50%;
    }
}