.delete-icon {
    position: 'absolute';
    left: -25px;
    top: -1px;
    cursor: pointer;
    border: solid 1px #ccaaff;
    border-radius: 3px;
    background-color: #ffaacc5c;
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
    z-index: 1000;
}

@media print {
    .doNotPrint {
        display: none !important;
        visibility: hidden !important;
    }
}