.ruler {
    display: flex;
    height: 50px;
    position: relative;
    background-color: white;
}

.tick {
    width: 1px;
    height: 10px;
    background-color: black;
    position: relative;
}

.long {
    height: 20px;
}

.number {
    position: absolute;
    top: 25px;
    left: -5px;
}